Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  Suppress:
    - pragma-pack
  Includes:
    IgnoreHeader: [config\.h, common\.h]
Completion:
  HeaderInsertion: IWYU
CompileFlags:
  # Compiler: gcc
  Add: [-xc]
  CompilationDatabase: build/
